<launch>
    <!-- <rosparam command="load" file="$(find limovelo)/config/xaloc.yaml" />
    <node pkg="limovelo" type="limovelo" name="limovelo" output="screen" /> -->

    <!-- <rosparam command="load" file="$(find ecthor)/config/params.yaml" />
    <node pkg="ecthor" type="ecthor" name="ecthor" output="screen" /> -->

    <group ns = "/ftfcd">
        <rosparam command="load" file="$(find ftfcd)/config/params.yaml"/>
        <node pkg="ftfcd" type="ftfcd" name="ftfcd" output="screen"/>
        <node type = "rviz" name = "rviz" pkg = "rviz" args = "-d $(find ftfcd)/rviz/config_rviz.rviz"/>
    </group>
</launch>